/* Global Css */
.bg-p {
    background-size : cover;
    background-position: center;
}

.is-container {
    padding: 0 70px;
}

/* Body */
body * {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
nav {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

/* nav.bg-dark {
    background: #111 !important;
} */


/* Banner */
.banner-wrapper {
    position: relative;
}

.banner-img {
    width: 100%;
    background: url('../assets/bannerimages/b3.png');
    background-size: cover;
    background-position: center;
    height: 700px;
}

.banner-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.75)); */
    background: rgba(0, 0, 0, 0.6);
}

.vertical-text-wrapper {
    position: absolute;
    transform: rotateZ(-90deg);
    top: 50%;
}

.vertical-text {
    color: #888;
    margin: 0;
    line-height: 1px;
    margin-top: 15px;
}

.vertical-text-underline {
    margin: 0;
    border: none;
    border-top: 3px solid #555;
    width: 50px;
    display: inline-block;
}

.banner-text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
}

.banner-text {
    font-family: 'Josefin Sans', serif;
    color : #ed3833;
    font-weight: 600;
    font-size: 60px;
    width: 60%;
}

.banner-text .color-white {
    display: block;
    color: #fff;
}


/* About us */
.about-us-wrapper {
    width: 100%;
    /* background: #16181c; */
    position: relative;
}

.about-us-img-wrapper {
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: center;
    background: url('../assets/backgrounds/b1.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.about-us-heading-overlay {
    display: none;
    position: absolute;
    width: 300px;
    border-radius: 50%;
    z-index: 2;    
    height: 210px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 139, 0.7);
    transform: rotateZ(-28deg);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    animation-name: rotatingAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.about-us-heading {
    position: relative;
    z-index: 3;
    font-size: 85px;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    color: #f1f1f1;
    font-family: 'Josefin Sans', serif;
}

.about-us-content-wrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.about-us-content {
    color: #999;
    line-height: 30px;
}

/* Services */
.services-wrapper {
    width: 100%;
    background: #f6f6f6;
    padding-bottom: 180px;
    padding-top: 70px;
}

.services-heading {
    color: #18161c;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.divider {
    border: none;
    border-top: 4px solid #999;
    width: 40px;
    display: inline-block;
    margin-bottom: 50px;
}

.service-row {
    display: flex;
    justify-content: space-between;
}

.service-card {
    height: 370px;
    border-radius: 12px;
    background: #fff;
    width: 30%;
    position: relative;
    box-shadow: 0 0 40px rgba(0,0,0,0.08);
    overflow: hidden;
}

.service-card .card-img-wrapper {
    position: relative;
    height: 370px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.service-card .card-img {
    position: absolute;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.service-card .card-img.web {
    background-image: url('../assets/card/web.jpg');
}

.service-card .card-img.mobile {
    background-image: url('../assets/card/mobile.png');
    background-position: right;
    background-position-x: 450px;
}

.service-card .card-img.e-comm {
    background-image: url('../assets/card/ecomm.png');
}

.service-card .card-title-wrapper {
    margin-top: 22px;
    padding: 0 12px 0 0;
}

.service-card .card-title {
    font-size: 24px;
    color: #b1b1b1;
    font-weight: 300;
}

.service-card .card-description-wrapper {
    padding: 0 12px 0 0;
    margin-top: 20px;
}

.service-card .card-description {
    font-size: 14px;
    color: #666;
}


/* Portfolio */
.portfolio-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #d84848;
}

.portfolio-heading {
    color: #f1f1f1;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.portfolio-cards-wrapper {
    display: flex;
    justify-content: space-around;
}

.portfolio-card {
    box-shadow: 0 0 45px rgba(0,0,0,0.06);
    border-radius: 20px;
    display: inline-block;
    width: 300px;
    background: #fff;
}

.p-card-img-wrapper {
    position: relative;
}

.p-card-img {
    /* border-bottom: 1px solid #e1e1e1; */
    box-shadow: 0 2px 14px -2px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.img-1 {
    background-image : url('../assets/projects/p1.png');
}
.img-2 {
    background-image : url('../assets/projects/p2.png');
}
.img-3 {
    background-image : url('../assets/projects/p3.jpg');
}
.img-4 {
    background-image : url('../assets/projects/p4.png');
}

.p-name-wrapper {
    padding: 20px 20px 15px;
}

.p-name {
    font-weight: 600;
    color: #1a161f;
}

.p-desc {
    color: #777;
    font-size: 14px;
}


/* Clients */
.clients-wrapper {
    background: #f6f6f6;
    padding-top: 80px;
    padding-bottom: 90px;
}

.client-img {
    height: 70px;
    width: auto !important;
    margin: auto !important;
}

.clients-heading {
    text-align: center;
    color: #18161c;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.clients-wrapper .divider {
    display: block;
    margin-bottom: 80px;
}

/* Footer */
/* HTML Set up */
footer {
    background: #18161c;
    color: #fff;
    margin: 0;
    padding: 40px 0 0;
  }
  footer .centered {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  footer .centered .footer-logo {
    width: 20%;
  }
  footer .centered .footer-logo img.logo {
    padding: 30px 20px 10px 20px;
    height: 120px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  footer .centered .footer-contact {
    width: 20%;
  }
  footer .centered .footer-navigation {
    width: 60%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    width: 33.33333%;
    position: relative;
    float: left;
    margin: 0;
  }
  footer .centered .footer-navigation .footer-links-holder .footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
  }
  footer .bottom-bar {
    position: relative;
    text-align: center;
    font-size: .8em;
    background: #000;
    color: #999;
    padding: 15px 0;
  }
  
  /* Responsive Tablet Sizes */
  @media only screen and (max-width: 749px) {
    footer .centered {
      flex-wrap: wrap;
    }
    footer .centered .footer-logo {
      max-width: 250px;
      width: 50%;
    }
    footer .centered .footer-contact {
      width: 50%;
      padding: 0 20px;
    }
    footer .centered .footer-navigation {
      width: 100%;
    }
    footer .centered .footer-navigation .footer-links-holder {
      padding: 0 20px;
    }
  }
  /* Responsive Mobile Sizes */
  @media only screen and (max-width: 500px) {
    footer .centered .footer-logo {
      width: 100%;
      margin: 0 auto;
    }
    footer .centered .footer-contact {
      width: 100%;
    }
    footer .centered .footer-navigation .footer-links-holder {
      width: 100%;
      padding: 0;
    }
    footer .centered .footer-navigation .footer-links-holder h3 {
      margin: 0;
      padding: 10px 20px;
      border-top: #000 1px solid;
      cursor: pointer;
      /* Down Arrows */
    }
    footer .centered .footer-navigation .footer-links-holder h3::after {
      float: right;
      margin-right: 10px;
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-top: 7px;
      width: 7px;
      height: 7px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      -webkit-transition: transform .5s;
      transition: transform .5s;
    }
    footer .centered .footer-navigation .footer-links-holder .footer-links {
      max-height: 0;
      overflow: hidden;
      padding: 0 20px;
    }
    footer .centered .footer-navigation .footer-links-holder.active h3::after {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    footer .centered .footer-navigation .footer-links-holder.active .footer-links {
      max-height: 10000px;
    }
  }
  /* Social Icons */
  .social {
    text-align: center;
  }
  .social a {
    display: inline-block;
    padding: 7px;
    width: 35px;
    height: 35px;
    margin: 0 2px;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
  }
  .social a:hover {
    background: #65c2ed;
  }
  .social a.linkedin {
    padding: 4px;
  }
  .social a svg .face, .social a svg .twit, .social a svg .link {
    fill: #000;
  }
  
  /* Typography */
  footer h6 {
    font-weight: 500;
    margin-bottom: 0;
  }

  footer .divider {
      margin-bottom: 10px;
  }

  footer p, footer li {
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 10px 0;
    font-size: 14px;
    color: #c1c1c1;
  }

  footer a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .5s, background .5s;
    transition: color .5s, background .5s;
  }

  footer li a,
  footer p a {
    color: #c1c1c1;
  }
  footer a:hover {
    color: #65c2ed;
  }
  
  /* Misc CSS */
  .clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
  }

  .about-us-wrapper {
    display: flex;
    position: relative;
  }
  
  .about-img {
    background: url("../assets/wwr.jpg");
    background-position: right;
    background-size: cover;
    margin-left: 40px;
    position: absolute;
    height: 100%;
    width: 100%;
  }

.about-img-content {
  padding: 100px 5%;
}

  .about-img-content h2 {
    font-weight: 600;
    font-size: 60px;
  }

  .about-img-content h5 {
    font-weight: 600;
  }

  .about-img-content hr {
    margin-bottom: 20px;
  }

  .about-data {
    margin-top: 20px;
  }

  /* Content */
.content {
  padding-top: 30px;
}

.testimonial {
  padding-top: 70px;
  padding-bottom: 80px;
}

/* Testimonials */
.testimonials blockquote {
  background: #f8f8f8 none repeat scroll 0 0;
  border: medium none;
  color: #666;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
  position: relative;
}
.testimonials blockquote::before {
  width: 0; 
  height: 0;
right: 0;
bottom: 0;
content: " "; 
display: block; 
position: absolute;
  border-bottom: 20px solid #fff;    
border-right: 0 solid transparent;
border-left: 15px solid transparent;
border-left-style: inset; /*FF fixes*/
border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  content: " ";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #e63f0c transparent transparent transparent;
}
.testimonials .carousel-info img {
  border: 1px solid #f5f5f5;
  border-radius: 150px !important;
  height: 75px;
  padding: 3px;
  width: 75px;
}
.testimonials .carousel-info {
  overflow: hidden;
}
.testimonials .carousel-info img {
  margin-right: 15px;
}
.testimonials .carousel-info span {
  display: block;
}
.testimonials span.testimonials-name {
  color: #e6400c;
  font-size: 16px;
  font-weight: 300;
  margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
  color: #656565;
  font-size: 12px;
}

.testimonial-heading {
  color: #333;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.tech-wrapper {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  width: 82%;
  margin: auto;
  margin-top: -100px;
  border-radius: 2px;
  padding-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding-bottom: 20px;
}
/* additional services starts here */
.additional-services-image-wrapper img{
  width: 100%;
}
.additional-services-para-wrapper p{
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.additional-services{
  margin-bottom: 80px;
}