body *{
    font-family: 'Roboto', sans-serif;
    
}
.contact-cover-img-wrapper{
    background-image: url(./Assets/contact-header.jpg);
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.contact-cover-img-wrapper h1{
    text-align: center;
    color:#fff;
    padding-top: 200px;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 0.5px;
    
}
.contact-cover-img-wrapper h3{
    color: #fff;
    text-align: center;
    margin-top: 5px;
    font-size: 38px;
    letter-spacing: 0.5px;
}
.get-in-touch-heading-wrapper{
    padding-top: 98px;
}
.get-in-touch-heading-wrapper h1{
    font-weight: 900;
}
.get-in-touch-heading-wrapper h4{
    word-break: break-word;
    width: 413px;
    font-size: 23px;
    margin-top: 35px;
    word-spacing: 2.5px;
}
.details-wrapper{
    margin-top: 40px;
    margin-left: 25px;
    font-size: 18px;
}
.fas{
    font-size: 25px;
}

