.e-comm-heading-wrapper h3{
    font-size: 35px;
}
.e-comm-content-wrapper{
    background-image: url(./assets/coverimg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
}
.e-comm-desc-wrapper p{
    color: #6C6C6C;
    font-size: 16px;
}
.e-comm-we-develop-wrapper{
    color: #6C6C6C;
}
.e-comm-features-wrapper{
    margin-top: 25px;
}
.list-item{
    list-style-type: none;
    /* list-style-image: url(./assets/greencheck-new.png); */
    padding-left: 6px;
    margin-top: 15px;
    color: #6A6B6B;
    font-weight: 600;
}
.list-item li::before {
    display: inline-block;
    content: ' ';
    height: 16px;
    width: 16px;
    top: 2px;
    margin-right: 10px;
    position: relative;
    background-image: url(./assets/greencheck-new.png);
    background-size: cover;
    background-position: center;
}
.e-comm-benefits-wrapper{
    margin-top: 30%;
}
.e-comm-benefits-wrapper p{
    color: #858585;
}
.benefits-item-list{
    list-style: none;
    color: #6A6B6B;
    font-weight: 600;
}
.benefits-item-list li::before {
    display: inline-block;
    content: ' ';
    height: 16px;
    width: 16px;
    top: 2px;
    margin-right: 10px;
    position: relative;
    background-image: url(./assets/greencheck-new.png);
    background-size: cover;
    background-position: center;
}
.e-comm-services-heading-wrapper h3{
    text-align: center;
}
.e-comm-services-heading-wrapper{
    width: 100%;
}
.e-comm-services-heading-wrapper p{
    text-align: center;
}
.website-features-wrapper{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.website-features-wrapper p{
    text-align: center;
}
.website-features-wrapper h5{
    text-align: center;
}
.e-comm-services-heading-wrapper{
    margin-top: 50px;
}
.e-comm-services-heading-wrapper h3{
    margin-bottom: 30px;
    color: #7B7B7B;
}
.e-comm-services-heading-wrapper p{
    color: #7B7B7B;
    font-weight: 700;
}
.discuss-project-button{
    width: 100%;
    text-align: center;
}
.discuss-project-button button{
    padding: 8px 170px;
    background-color: #16181C;
    color: #FF8202;
    border-color: #16181C;
}
.discuss-project-button button:hover{
    background-color: white;
    color: #FF8202;
    border-color: white;
}
.down-arrows{
    width: 100%;
    text-align: center;
}
.down-arrows img{
    width: 180px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.we-power-ecomm-wrapper{
    margin-top: 70px;
    padding-left: 95px;
}
.we-power-about h5{
    color: #FFC663;
}
.we-power-about p{
    font-size: 15px;
}
.we-power-imgwrapper img{
    width: 100%;
}
.we-power-ecomm-wrapper{
    background-color: #3D829C;

}
.we-power-imgwrapper{
    background-color: #fff;
    margin-right: -15px;
}
.we-power-imgwrapper img{
    height: 270px;
}
.we-power-about h3{
    color: white;
    margin-top: 20px;
}
.we-power-about p{
    color: white;
    margin-top: 20px;
}

